.homepage {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.header_frame {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;
  margin-top: 47px;
  font-family: "Jost";
}
.header_frame .container {
  flex-direction: row;
}
.header_frame .container .header_left {
  position: relative;

  width: 875px;
  height: 508px;

  font-family: "Jost";
  background: rgb(0, 83, 246);
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}
.header_frame .header_content {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding-left: 15px;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background: rgb(245, 195, 75);

  color: rgb(4, 30, 66);

  font-size: 13px;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  height: 152px;

  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}
.header_frame .header_content p {
  width: 262.11px;
  height: 56px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}
.header_frame .header_content a {
  width: 140px;
  height: 52px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  background: rgb(245, 195, 75);

  color: rgb(4, 30, 66);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.header_frame .header_content img {
  position: absolute;
  right: 10px;
  top: 60px;
}
.header_frame .container .header_right {
  position: relative;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: rgb(242, 242, 242);
  border-radius: 5px;
}

.header_frame .header_box .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  color: rgb(0, 83, 246);

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.header_frame .box_left p {
  margin: 10px 0;

  color: rgb(4, 30, 66);

  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
}
.header_frame .box_left a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: rgb(4, 30, 66);
}
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
.header_frame .hover_border.low {
  width: 127.33px;
  height: 2px;

  background: rgb(4, 30, 66);
}
/* SERVICE */
.homepage .service_frame {
  width: 100%;
  height: auto;
  margin-top: 35px;

  display: flex;
  justify-content: center;
}
.service_frame .container {
  flex-direction: row;
}
.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgb(234, 234, 234);
}
.service_frame .service_box img {
  width: 33px;
  height: 33px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;

  display: flex;
  flex-direction: column;
}
.service_frame .service_content span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.service_frame .service_content p {
  width: 180.91px;

  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/* SHOP CATEGORY */
.shop_category_frame {
  position: relative;
  margin-top: 90px;

  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  flex-direction: column;
}
.shop_category_frame .container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shop_category_frame .category_top span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.shop_category_frame .category_top a {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.shop_category_frame .category_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}
.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.shop_category_frame .category_box span {
  margin-top: 15px;

  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
